
section {
  width: 980px;
  margin: auto;
  display: none;
  .mood, .subMood {
    display: block;
    text-align: center;
    margin-top: 40%;
  }
  .genre {
    @extend .mood;
    margin-top: -2%;
    }

}

.animate
{
  -webkit-animation-name: animation;
  -webkit-animation-duration: 4s;
  -webkit-opacity:0;

}

@-webkit-keyframes animation{
  0%{
    opacity:100;
    -webkit-transform: rotate(20deg);
  }
  100%
  {
    opacity:0;
    transform: translateY(1000px);
    display:none;
  }
}

.chosenOne
{
  -webkit-animation-name: rise;
  -webkit-animation-duration:2s;
  -webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes rise{
  0%{
  }
  100%
  {
    color:white;
    -webkit-transform: translateY(-380px);
  }
}





.results {

}





div{
  display: none;
}

.active {
  display: block;
}
