section {
  width: 980px;
  margin: auto;
  display: none; }
  section .mood, section .genre, section .subMood {
    display: block;
    text-align: center;
    margin-top: 40%; }
  section .genre {
    margin-top: -2%; }
  section .subMood {
    margin-top: -72px; }

.chosenOne {
  -webkit-animation-name: rise;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards; }

.moodbtn {
  width: 200px;
  height: 300px;
  background-color: #e8e8e8;
  color: black;
  border: 5px solid black;
  border-radius: 10px; }
  .moodbtn:hover {
    border: 5px solid #5ec494;
    -webkit-transition: all 1s forwards ease;
    -moz-transition: all 1s forwards ease;
    transition: all 1s forwards ease;
    background-color: #e8e8e8;
    color: black; }

.animate {
  -webkit-animation-name: animation;
  -webkit-animation-duration: 4s;
  -webkit-opacity: 0; }

@-webkit-keyframes animation {
  0% {
    opacity: 100;
    -webkit-transform: rotate(20deg); }

  100% {
    opacity: 0;
    transform: translateY(1000px);
    display: none; } }

@-webkit-keyframes rise {

  100% {
    color: white;
    -webkit-transform: translateY(-380px); } }

div {
  display: none; }

.active {
  display: block; }
