section {
  width: 980px;
  margin: auto;
  display: none; }
  section .mood, section .genre, section .subMood {
    display: block;
    text-align: center;
    margin-top: 40%; }
  section .genre {
    margin-top: -2%; }

.animate {
  -webkit-animation-name: animation;
  -webkit-animation-duration: 5s;
  -webkit-opacity: 0; }

@-webkit-keyframes animation {
  0% {
    opacity: 100; }

  100% {
    opacity: 0;
    transform: translateY(1000px); } }

div {
  display: none; }

.active {
  display: block; }
