body, h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  display: inline-block; }

li {
  display: block; }

a {
  text-decoration: none;
  color: black; }

header {
  width: 100%;
  text-align: center;
  padding-top: 40px; }

h1 {
  font-family: 'Zorus_Serif', 'viva-std', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6em;
  letter-spacing: 10px;
  text-align: center;
  color: #1c1c1c; }

h2 {
  font-size: 24px;
  font-family: 'Zorus_Serif', serif;
  text-transform: uppercase;
  text-align: left;
  margin-top: -55px;
  margin-bottom: 41px;
  margin-left: 20%;
  letter-spacing: 1.5px; }

h4 {
  font-size: 28px;
  font-family: 'Zorus_Serif', serif;
  text-transform: uppercase;
  margin-bottom: 10px; }

h3 {
  text-align: center;
  color: #514f4f;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  position: relative;
  letter-spacing: 6px; }
  h3:before, h3:after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 5px;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222; }
  h3:before {
    margin: 5px 0 0 -60px; }
  h3:after {
    margin: 5px 0 0 1px; }

p {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  padding-top: 10px; }

video.bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 0.8;
  filter: sepia(0.8);
  -webkit-filter: sepia(0.8);
  -moz-filter: sepia(0.8);
  background-repeat: no-repeat;
  background-size: cover; }

section {
  margin: auto;
  display: none; }
  section .mood, section .genre, section .subMood {
    display: block;
    text-align: center;
    margin-top: 15%; }
  section .genre {
    margin-top: -14%; }
    section .genre h2 {
      margin-top: 0; }
  section .subMood {
    margin-top: -12%; }

.chosenOne {
  animation: rise 2s forwards;
  -webkit-animation: rise 2s forwards;
  -moz-animation: rise 2s forwards; }

.results.active {
  width: 1200px;
  margin: 4% auto;
  display: block;
  justify-content: center; }
  .results.active h2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 0; }
    .results.active h2:before, .results.active h2:after {
      content: " ";
      position: absolute;
      width: 50px;
      height: 5px;
      border-top: 1px solid #222222;
      border-bottom: 1px solid #222222; }
    .results.active h2:before {
      margin: 5px 0 0 -60px; }
    .results.active h2:after {
      margin: 5px 0 0 10px; }
  .results.active h3:before, .results.active h3:after {
    width: 87px; }
  .results.active h3:before {
    margin: 5px 0 0 -111px; }
  .results.active h3:after {
    margin: 5px 0 0 17px; }

.resultBox {
  display: inline-block;
  width: 29%;
  vertical-align: top;
  overflow: hidden; }
  .resultBox img {
    width: 300px;
    height: 450px;
    border-radius: 5px;
    -webkit-box-shadow: 9px 10px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 10px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 10px 9px 0px rgba(0, 0, 0, 0.75);
    position: relative; }

.animate {
  animation: animation 4s;
  -webkit-animation: animation 4s;
  -moz-animation: animation 4s;
  opacity: 0;
  transform: translateY(1000px); }

.fadein {
  animation: fade 2s .5s backwards;
  -webkit-animation: fade 2s .5s backwards;
  -moz-animation: fade 2s .5s backwards; }

.moodbtn {
  text-align: center;
  margin: 10px;
  font-family: 'PT Sans', Courier;
  font-size: 36px;
  text-transform: uppercase;
  color: black;
  text-shadow: 1px 0px 0px #eee, 4px 2px 0px #707070;
  padding: 30px 40px 30px 40px;
  background: linear-gradient(rgba(255, 255, 244, 0.5), rgba(255, 255, 244, 0.5));
  border: 8px double #707070; }
  .moodbtn:hover {
    border: 8px double black;
    background: linear-gradient(rgba(112, 112, 112, 0.5), rgba(112, 112, 112, 0.5));
    color: black;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease; }

@-webkit-keyframes animation {
  0% {
    opacity: 100;
    -webkit-transform: rotate(20deg); }

  100% {
    opacity: 0;
    transform: translateY(1000px);
    display: none; } }

@-webkit-keyframes rise {

  100% {
    -webkit-transform: translateY(-250px);
    opacity: 0; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

div {
  display: none; }

.active {
  display: block; }

.resultBox.active {
  display: inline-block;
  padding: 20px; }

@media screen and (max-device-width: 800px) {
  html {
    background: url(polina.jpg) #000 no-repeat center center fixed; }
  #bgvid {
    display: none; } }
