

body, h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  display: inline-block;
}

li {
  display: block;
}

//BACKGROUND
video.bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    opacity: 0.5;
    @include sepia(sepia(0.5));
    background-repeat: no-repeat;
    background-size: cover;
  }

//SECTIONS
section {
  width: 980px;
  margin: auto;
  display: none;
  .mood {
    display: block;
    text-align: center;
    margin-top: 40%;
  }
  .genre {
    @extend .mood;
    margin-top: -6%;
    }
    .subMood {
      @extend .mood;
      margin-top: -181px;
      }
    }

.chosenOne {
  @include chosen(rise 2s forwards);
}


.results.active {
  width: 1200px;
  margin: 11% auto;
  display: flex;
  justify-content: space-between;

}

.resultBox {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  img {
    width: 300px;
    height: 450px;
    border-radius: 5px;
    @include sepia(sepia(1));
    @include shadow(9px 10px 9px 0px rgba(0,0,0,0.75));
    }
  }


.animate {
  @include animateDown(animation 4s);
  opacity:0;
}


//BUTTONS
.moodbtn {
  width: 200px;
  height: 300px;
  background-color: #e8e8e8;
  color: black;
  border: 5px solid black;
  border-radius: 10px;
  &:hover {
    border: 5px solid #5ec494;
    @include transition( 1s ease);
    background-color: #e8e8e8;
    color: black;

  }
}


//KEYFRAMES
@-webkit-keyframes animation{
  0%{
    opacity:100;
    -webkit-transform: rotate(20deg);
  }
  100%
  {
    opacity:0;
    transform: translateY(1000px);
    display:none;
  }
}


@-webkit-keyframes rise{
  0%{
  }
  100%
  {
    color:white;
    -webkit-transform: translateY(-380px);
  }
}


//JQUERY

div{
  display: none;
}

.active {
  display: block;
}

.resultBox.active{
  display: inline-block;
  padding: 20px;
}


//MEDIA QUERIES FOR BACKGROUND
@media screen and (max-device-width: 800px) {
  html { background: url(polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
