
body, h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  display: inline-block;
}

li {
  display: block;
}

header{
  width: 100%;
  text-align: center;
  padding-top: 40px;
  };

h1 {
  font-family: 'Zorus_Serif', 'viva-std', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6em;
  letter-spacing: 10px;
  text-align: center;
  color: $h1-font-color;
}

h3 {
  text-align: center;
  color: $subHead-font-color;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  position: relative;
  letter-spacing: 6px;
  &:before, &:after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 5px;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
  }
    &:before {
    margin: 5px 0 0 -60px;
    }
    &:after{
    margin: 5px 0 0 1px;

  }
}



//BACKGROUND
video.bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    opacity: 0.8;
    @include sepia(sepia(0.8));
    background-repeat: no-repeat;
    background-size: cover;
  }

//SECTIONS
section {
  width: 980px;
  margin: auto;
  display: none;
  .mood {
    display: block;
    text-align: center;
    margin-top: 20%;
  }
  .genre {
    @extend .mood;
    margin-top: -6%;
    }
    .subMood {
      @extend .mood;
      margin-top: -181px;
      }
    }

.chosenOne {
  @include chosen(rise 2s forwards);
}


.results.active {
  width: 1200px;
  margin: 11% auto;
  display: flex;
  justify-content: center;

}

.resultBox {
  display: inline-block;
  width: 29%;
  vertical-align: top;
  img {
    width: 300px;
    height: 450px;
    border-radius: 5px;
    @include shadow(9px 10px 9px 0px rgba(0,0,0,0.75));
    position:relative;
    }
  &:hover {
    img {
    opacity:0.2;
    }
    .resultText {
    display:block;
    position:absolute;
    width:100%;
    float:left;
    text-align:center;
    }
  }
}


.animate {
  @include animateDown(animation 4s);
  opacity:0;
}


//BUTTONS
.moodbtn {
  text-align: center;
  margin: 20px auto;
  font-family: 'PT Sans', Courier;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
  text-shadow: -3px 0px 0px #eee, 5px 1px 0px #707070;
  width: 242px;
  height: 120px;
  background-color: #e8e8e8;
  border: 3px solid #707070;
  border-radius: 10px;
  &:hover {
    border: 3px solid #5ec494;
    @include transition( 1s ease);
    background-color: #e8e8e8;
    color: black;

  }
}


//KEYFRAMES
@-webkit-keyframes animation{
  0%{
    opacity:100;
    -webkit-transform: rotate(20deg);
  }
  100%
  {
    opacity:0;
    transform: translateY(1000px);
    display:none;
  }
}


@-webkit-keyframes rise{
  0%{
  }
  100%
  {
    color:white;
    -webkit-transform: translateY(-380px);
  }
}


//JQUERY

div{
  display: none;
}

.active {
  display: block;
}

.resultBox.active{
  display: inline-block;
  padding: 20px;
}


//MEDIA QUERIES FOR BACKGROUND
@media screen and (max-device-width: 800px) {
  html { background: url(polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
